.elements {
  display: grid;
  margin-top: 51px; 
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 17px;
}
@media (max-width: 1024px) {
  .elements {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 51px 0 0;
    padding: 0 48px;
    gap: 14px;
  }
}

@media (max-width: 768px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin: 88px 0 0;
    gap: 16px;
    padding: 0 24px;
  }
}
@media (max-width: 320px) {
  .elements {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin: 64px 0 0;
    gap: 12px;
    padding: 0 16px;
  }
}
