.popup__close {
  color: white;
  max-width: 40px;
  background: transparent;
  border: none;
  position: absolute;
  padding: 0;
  margin: 0;
  top: -50px;
  right: -30px;
  cursor: pointer;
}
@media (max-width: 500px) {
  .popup__close {
    max-width: 26px;
    top: -60px;
    right: 19px;
  }
}
