.profile__add-botton {
    background: black;
    border: 2px solid #fff;
    max-width: 100%;
    width: 150px;
    height: 50px;
    object-fit: cover;
    margin-left: auto;
    cursor: pointer;
}
@media (max-width: 320px) {
  .profile__add-botton {
    width: 282px;
    margin-left: 0;
  }
}

